.login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.login__form label{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__form input{
    width: 100%;
}

.login__form button{
    align-self: stretch;
}
