.header{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
}

.header__container{
    max-width: 1220px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    border: 1px solid #000000;
    font-weight: 600;
    align-self: flex-end;
    padding: 20px 15px;
}

.header__menu, .user__menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__menu_link{
    border-bottom: 1px solid transparent;
    padding: 5px;
    transition: all ease .5s;
}

.header__menu_link:hover, .header__menu_link.active{
    border-color: black;
}

.header__menu_mobile{
    display: none;
}

.invisible{
    display: none;
}

.visible{
    position: fixed;
    top: 70px;
    z-index: 1;
}


@media screen and (max-width: 750px) {
    .header__menu_mobile{
        display: block;
    }
    .header__menu, .user__menu{
        display: none;
    }
}


