.item__form,
.item__form label{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.item-props{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    margin-bottom: 10px;
}


